<footer id="footer-content" class="bg-grau">
    <div id="footer">
        <div class="row">
            <div class="small-12 columns">
                <h5>{{ site.data.language.info_website }}</h5>
                
                <p>{{ site.description }}</p>
        </div>
        </div><!-- /.row -->

        <div class="row">
            <div class="small-12 columns" style="text-align: right;">
                <a href="#top-of-page">
                    <arrow class="arrow up"></arrow>
                </a>
            </div>
        </div>
    </div><!-- /#footer -->
</footer>